MOBILE_NUMBER=<YOUR MOBILE NUMBER>
DISTRICT_ID=303 //DISTRICT CODE
PIN_CODE=680561,680012,680027 //comma separated pin codes (Appointment booked only for these PIN Codes)
MIN_AGE=18 // 45 for 45+ categories
VACCINE=COVISHIELD //COVAXIN if needed
DOSE=1 // for 1st dose, 2 for 2nd dose
